[submodule "lib/raylib"]
	path = lib/raylib
	url = https://github.com/raysan5/raylib
[submodule "lib/raylib-cpp"]
	path = lib/raylib-cpp
	url = https://github.com/robloach/raylib-cpp
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "lib/PerlinNoise"]
	path = lib/PerlinNoise
	url = https://github.com/Reputeless/PerlinNoise
[submodule "lib/magic_enum"]
	path = lib/magic_enum
	url = https://github.com/Neargye/magic_enum
