[submodule "Everland/include/glm"]
	path = Everland/include/glm
	url = https://github.com/g-truc/glm/
[submodule "Everland/include/GLFW"]
	path = Everland/include/GLFW
	url = https://github.com/glfw/glfw