[submodule "Everland/include/glm"]
	path = Everland/include/glm
	url = https://github.com/g-truc/glm/
[submodule "Everland/include/GLFW"]
	path = Everland/include/GLFW
	url = https://github.com/glfw/glfw
[submodule "Everland/include/--force"]
	path = Everland/include/--force
	url = https://github.com/mitsuba-renderer/nanogui
